
<nav class="navbar-search">
  <form [formGroup]="filtrosForm" class="navbar-search-container" (ngSubmit)="onSubmit()">
    <div class="navbar-search-item">
      <mat-form-field appearance="fill" class="navbar-input">
        <input matInput type="text" formControlName="titulo" placeholder="Buscar por Título">
        <mat-icon matSuffix>search</mat-icon>
        @if (filtrosForm.get('titulo')?.hasError('hasSpecialChars')) {
          <mat-error>No se permiten caracteres especiales</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="navbar-search-item">
        <div class="carrusel-genero">
          <button type="button" mat-icon-button (click)="cambiarGenero(-1)">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <span class="genero-label">{{ generoActualLabel }}</span>
          <button type="button" mat-icon-button (click)="cambiarGenero(1)">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
    </div>
    <div class="navbar-search-item slider-navbar">
      <span class="slider-label">Puntuación:</span>
      <span class="slider-value">{{ filtrosForm.get('puntuacion')?.value | number:'1.1-1' }}</span>
      <input type="range" formControlName="puntuacion" min="0" max="10" step="0.5" class="slider-input" />
    </div>
    <div class="navbar-search-item">
      <button mat-raised-button color="primary" type="submit" [disabled]="filtrosForm.invalid">
        @if (filtrosForm.invalid) {
          <mat-icon>close</mat-icon>
        } @else {
          Buscar
        }
      </button>
      <button mat-button type="button" (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </form>
</nav>
